/* evaluation.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;

    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

h2 {
    text-align: center;
}

p {
    text-align: left;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

label {
    margin-left: 10px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

div {
    margin-bottom: 20px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"] {
    display: block;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}