{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'Mentorshipapp/form.css' %}" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'admin_mentor_app/css/evaluation.css' %}"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <title>Mentor's Panel</title>

    <style>
      .sidebar-menu {
        border: 1px solid blue;
        height: calc(100vh);
        position: fixed;
      }

      .menu-list {
        list-style: none;
        margin-left: 5px;
      }

      a {
        text-decoration: none;
      }

      .menu-list-items {
        margin-top: 1rem;
        text-decoration: none;
      }

      .menu-list-items:hover {
        background-color: blue;
      }

      .listitem {
        padding: 1rem 0;
        color: black;
      }

      .notification-list {
        max-height: calc(6 * 40px);
        overflow-y: auto;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row mt-1">
          <div class="col-md-6">
            <h2><strong>Mentor Match</strong></h2>
          </div>
          <div class="col-md-6">
            <div class="row g-3 justify-content-end align-items-center">
              <div class="col-auto ms-auto">
                <div class="text-end">
                  <div class="img-case dropdown">
                    <span class="m-2">Welcome {{ user.first_name }} {{ user.last_name }}</span>
                  </div>
                </div>
              </div>

              
              <div class="col-auto ms-auto">
                <div class="text-end">
                  <div>
                    <i class="fa fa-clock"></i>
                    <i
                      class="bi bi-bell"
                      style="{% if unread_notifications > 0 %} color:red;{% endif %}"
                      id="dropdownMenuButton"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    ></i>
                    <ul
                      class="dropdown-menu notification-list"
                      aria-labelledby="dropdownMenuButton"
                    >
                      {% for notification in notifications %}
                      <li class="d-flex align-items-center py-2 border-bottom">
                        <i class="bi bi-person me-2 fs-5 text-primary"></i>
                        <div class="flex-grow-1">
                          <span class="fw-bold"
                            >{{ notification.sender_name }}</span
                          >
                          <span
                            class="text-truncate"
                            title="{{ notification.message }}"
                          >
                            {{ notification.message|truncatechars:20 }}
                          </span>
                        </div>
                      </li>
                      {% endfor %} {% if notifications.count == 0 %}
                      <li class="text-center p-2">No notifications yet.</li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <div class="text-end">
                  <div class="img-case">
                    <img
                      src="{% static 'admin_mentor_app/images/status.png' %}"
                      alt=""
                      class="img-fluid rounded-circle"
                      style="max-width: 20px"
                    />
                  </div>
                </div>
              </div>

              <div class="col-auto">
                <div class="text-end">
                  <div class="img-case dropdown">
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="settingsDropdown"
                    >
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li>
                        <a class="dropdown-item" href="#">Another action</a>
                      </li>
                      <li><hr class="dropdown-divider" /></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-auto">
                <div class="text-end">
                  <div class="img-case dropdown">
                    <img
                      src="{% static 'admin_mentor_app/images/user.png' %}"
                      alt=""
                      class="img-fluid rounded-circle"
                      style="max-width: 40px"
                      id="userDropdown"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    />
                    <ul class="dropdown-menu" aria-labelledby="userDropdown">
                      <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                      <li>
                        <a class="dropdown-item" href="#" id="logout-link">Logout</a>
                        <form id="logout-form" method="post" action="{% url 'logout' %}" style="display:none;">
                          {% csrf_token %}
                        </form>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              
              <script>
                document.getElementById('logout-link').addEventListener('click', function(event) {
                  event.preventDefault(); // Prevent the default link behavior
                  document.getElementById('logout-form').submit(); // Submit the form
                });
              </script>
            </div>
          </div>
        </div>

        <div class="row">
          <div
            class="col-2"
            style="
              border-top: 1px solid blue;
              height: 90vh;
              background-color: #add8e6;
            "
          >
            <div class="">
              <div class="menu-list">
                <p class="menu-list-items">
                  <a class="listitem" href="{% url 'dashboard' %}"
                    ><i class="menu-list-items fas fa-box"></i>&nbsp;
                    <span>Dashboard</span></a
                  >
                </p>
                <p class="menu-list-items">
                  <a class="listitem" href="{% url 'mentees' %}"
                    ><i class="menu-list-items fas fa-id-badge"></i>&nbsp;
                    <span>Mentees</span></a
                  >
                </p>
                <p class="menu-list-items">
                  <a class="listitem" href="{% url 'schedule' %}"
                    ><i class="menu-list-items fas fa-calendar-day"></i>&nbsp;
                    <span>Schedule</span></a
                  >
                </p>
                <p class="menu-list-items">
                  <a class="listitem" href="{% url 'reports' %}"
                    ><i class="menu-list-items fas fa-envelope-open-text"></i
                    >&nbsp; <span>Reports</span></a
                  >
                </p>
                <p class="menu-list-items">
                  <a class="listitem" href="{% url 'evaluation'%}"
                    ><i class="menu-list-items fas fa-layer-group"></i>&nbsp;
                    <span>Evaluation</span></a
                  >
                </p>
              </div>
              <div></div>
            </div>
          </div>
          <div class="col-10"  style="border-top: 2px solid blue;">
            <div class="container mt-2">
              <!-- Injections start here -->
              {% block content %} {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-mrcu6mWBnHsl1wEPpqe1FhrcofIyz1NkT3zVZp6Y+Ro5oDGLxD84anCnpI9gU8/N"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/i18n/defaults-en_US.min.js"></script>
  </body>
</html>
