{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Mentor.Social</title>
    <script src="{% static 'admin_mentor_app/js/jquery.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'admin_mentor_app/images/fav.png' %}" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500display=swap" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .container-fluid {
            padding-top: 50px;
            padding-bottom: 100px;
        }

        /* Additional custom styles can be added here */
    </style>
</head>
{% load crispy_forms_tags %}
<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-11">
                    <div class="login-container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <img src="{% static 'admin_mentor_app/images/sideimg.png' %}" class="img-fluid"
                                    alt="" />
                            </div>
                            <div class="col-lg-8 col-md-8">
                    
                                <div class="form-group">            
                                    <form action="{% url 'register' %}" method="post" id="register_form">
                                       {% csrf_token %}
                                        {{form|crispy}}
                                        <!-- <div class="login-row row no-margin">
                                            <div class="col">
                                                <label for="full-name"><i class="fas fa-user"></i> Full Name</label>
                                                <input type="text" id="full-name" name ="full-name"class="form-control form-control-sm"
                                                    placeholder="Enter your full  <input type="text" id="full-name" name ="full-name"class="form-control form-control-sm"
                                                    placeholder="Enter your full name" /> name" />
                                                   
                                            </div>
                                            <div class="col">
                                                <label for="date_of_birth"><i class="fas fa-unlock-alt"></i> Date of
                                                    Birth
                                                </label>
                                                <input type="date" id="date_of_birth"
                                                    class="form-control form-control-sm" name="date_of_birth"
                                                    placeholder="Enter your Date of Birth" />
                                                    
                                            </div>
                                        </div>

                                        <div class="login-row row no-margin">
                                            <div class="col">
                                                <label for="email"><i class="fas fa-envelope"></i> Email
                                                    Address</label>
                                                <input type="email" id="email" class="form-control form-control-sm"
                                                    placeholder="Enter your email address" name="email" />
                                                   
                                            </div>
                                            <div class="col">
                                                <label for="type_of_user"><i class="fas fa-envelope"></i> Type</label>
                                                <select id="type" name="type" class="form-control form-control-sm">
                                                    
                                                    <option selected>Select Your Type</option>
                                                    <option value="mentee">Mentee</option>
                                                    <option value="mentor">Mentor</option>
                                                </select>
                                                
                                            </div>
                                        </div>

                                        <div class="login-row row no-margin">
                                            <div class="col">
                                                <label for="gender"><i class="fas fa-unlock-alt"></i> Gender
                                                </label>
                                                <input type="gender" id="gender" class="form-control form-control-sm" name="gender"
                                                    placeholder="Enter your gender" />
                                                   
                                            </div>
                                            <div class="col">
                                                <label for="nationality"><i class="fas fa-unlock-alt"></i>
                                                    Nationality</label>
                                                <input type="nationality" id="nationality" name="nationality"
                                                    class="form-control form-control-sm"
                                                    placeholder="Enter your nationality" />
                                                   
                                            </div>
                                        </div>

                                        <div class="login-row row no-margin">
                                            <div class="col">
                                                <label for="telephone"><i class="fas fa-unlock-alt"></i>Telephone
                                                </label>
                                                <input type="tel" id="telephone" name="telephone" class="form-control form-control-sm"
                                                    placeholder="Enter your phone number" />
                                                    
                                            </div>
                                            <div class="col">
                                                <label for="address"><i class="fas fa-unlock-alt"></i>Address
                                                </label>
                                                <input type="text" id="address" class="form-control form-control-sm"
                                                    placeholder="Enter your Address" />
                                                    
                                            </div>
                                        </div>

                                        <div class="login-row row no-margin">
                                            <div class="col">
                                                <label for="password"><i class="fas fa-unlock-alt"></i> Password</label>
                                                <input type="password" id="password"
                                                    class="form-control form-control-sm"
                                                    placeholder="Enter your password" />
                                                    
                                            </div>
                                        </div>

                                        <div class="login-row row no-margin">
                                            <div class="col">
                                                <label for="confirm-password"><i class="fas fa-unlock-alt"></i> Confirm
                                                    Password</label>
                                                <input type="password" id="confirm-password" name="password"
                                                    class="form-control form-control-sm"
                                                    placeholder="Confirm your password" />
                                                   
                                            </div>
                                        </div> -->
                                        <div class="login-row row no-margin mt-2 text-end">
                                            <div class="col">
                                                <button type="submit" class="btn btn-secondary">Register</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>